/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 10px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: "MB Empire";
  src: url("../fonts/MBEmpire-Regular.otf")
}

@font-face {
  font-family: "MB Empire Light";
  src: url("../fonts/MBEmpire-Light.otf")
}
 
@font-face {
  font-family: "MB Empire BlackItalic";
  src: url("../fonts/MBEmpire-BlackItalic.otf")
}

html {
  font-size: 10px;
  height: 100%;
}
/* principal css */
.root {
  width: 100%;
  height: 100%;
  background-image: url("../images/bg-background.png");
  background-size: cover;
}

.header {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 50px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.header .brand {
  display: flex;
  align-items: center;
}

.header .brand .brand-image {
  height: 50px;
}

.header .brand .brand-name {
  color: white;
  font-family: "MB Empire Light", sans-serif;
  font-size: 3.6rem;
}

.header .nav {
  color: white;
  display: flex;
}

.header .nav .nav-list {
  display: flex;
}

.header .nav .nav-list .nav-item {
  font-family: "MB Empire", sans-serif;
  font-size: 2.4rem;
  margin: 0 10px;
  padding: 10px 15px;
  cursor: pointer;
}

.header .nav .nav-list .nav-item:hover {
  border-radius: 30px;
  background-image: linear-gradient(to right, #b33459, #e46d51);
}

.header .nav button {
  border: unset;
  padding: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.header .nav button img {
  width: 30px;
}

.main {
  height: 100%;
  position: relative;
}

.main .inscription {
  display: flex;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main .inscription button {
  color: white;
  font-size: 1.6rem;
  height: 100%;
  background-image: linear-gradient(to right, #b33459, #e46d51);
  padding: 5px 30px 0;
  border: unset;
  text-transform: uppercase;
  font-family: "MB Empire BlackItalic", sans-serif;
  outline: none;
  cursor: pointer;
}

.main .inscription .inscription-icon {
  background-color: #fcb14f;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.main .inscription .inscription-icon img {
  max-width: 100%;
  width: 35%;
}

/* style themw for login */
.root.root--blur {
  width: 100%;
  width: 100%;
  background-image: url("../images/bg-background-blur.png");
}

.login {
  width: 350px;
  height: 630px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/signin.png");
  background-size: cover;
}

.login .login-header {
  width: 350px;
  height: 150px;
}

.login .login-header img {
  width: 100px;
  height: 100px;
  position: relative;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login .login-content {
  width: 350px;
  height: 180px;
}


.login .login-content .input-group {
  width: 350px;
  height: 52px;
  position: relative;
  left: 53%;
  top: 20%;
  transform: translate(-50%);
  border-bottom: #b33459;
}

.login .login-content .input-group input {
  width: 220px;
  height: 20px;
  background: transparent;
  border: none;
  font-size: 14px;
  font-family: "MB Empire Regular", sans-serif;
  position: relative;
  left: 12%;
}

.login .login-content .input-group img {
  width: 6%;
  height: 38%;
  position: relative;
  left: 8%;
}

.login .login-action {
  width: 287px;
  height: 52px;
  position: relative;
  bottom: -2%;
  left: 9%;
}

.login .login-action input {
  width: 288px;
  height: 52px;
  /* background: #1bbc9b; */
  background-image: linear-gradient(to right, #b33459, #e46d51);
  border-style: solid;
  border: none;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "MB Empire BlackItalic", sans-serif;
  outline: none;
  cursor: pointer;
  border-radius: 9px;
}

.login .login-content .input-group hr {
  width: 278px;
  height: 2px;
  background: #384959;
  border: none;
  position: relative;
  right: 3%;
  top: -7%;
}


.brond {
	width: 45px;
	height:45px;
	border-radius:50%;
	border:none;
}

.but-nav {
  width: 750px;
  position: relative;
  right: 20px;
}

.bsimulation {
  width: 135px;
	height:35px;
  border-radius:4px;
  margin-right: 10px;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "MB Empire BlackItalic", sans-serif;
}

.dropdown-menu {
  background: #EEEEEE;
  font-family: "MB Empire", sans-serif;
  font-size: 12px;
  margin-left: auto;
  margin-left: 10px;
}

.dropdown-item {
  color:#474747;
  text-align: center;
  margin-top: 2px;
  padding: 7px 20px;
  font-weight: bold;
}

.bsimulation:hover {
  width: 150px;
	height:35px;
  border-radius:4px;
  background-image: linear-gradient(to right, #b33459, #e46d51);
}

/* ICI AJOUTE PAR BANG */

.formulaire {
  height: 444px;
  width: 750px;
  position: relative;
  top: 12%;
  left: 25%;
  display: flex;
}

.formulaire .info-formulaire {
  color: white;
  text-transform: uppercase;
  font-family: "MB Empire BlackItalic", sans-serif;
  font-size: 25px;
  height: 444px;
  width: 250px;
}

.add-light-form {
  background-image: url("../images/feurouge.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  -moz-border-radius-topleft:10px;
  -webkit-border-top-left-radius:10px;
  -moz-border-radius-bottomleft:10px;
  -webkit-border-bottom-left-radius:10px;
}

.add-trafic-form {
  background-image: url("../images/trafic.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  -moz-border-radius-topleft:10px;
  -webkit-border-top-left-radius:10px;
  -moz-border-radius-bottomleft:10px;
  -webkit-border-bottom-left-radius:10px;
}

.add-pollution-form {
  background-image: url("../images/pollution.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  -moz-border-radius-topleft:10px;
  -webkit-border-top-left-radius:10px;
  -moz-border-radius-bottomleft:10px;
  -webkit-border-bottom-left-radius:10px;
}

.formulaire .eclairage-form {
  background: #E9DBDA;
  height: 444px;
  width: 500px;
  position: absolute;
  -moz-border-radius-topright:10px;
  -webkit-border-top-right-radius:10px;
  -moz-border-radius-bottomright:10px;
  -webkit-border-bottom-right-radius:10px;
}

.formulaire .eclairage-form.trafic {
  background: #BBC2C9;
}

.formulaire .eclairage-form.pollution {
  background: #979EB1;
}

.formulaire .eclairage-form .parametre-form .nom-de-parametre {
  color: #535973;
  text-transform: uppercase;
  font-family: "MB Empire", sans-serif;
  font-size: 14px;
}

.formulaire .eclairage-form.trafic .parametre-form .nom-de-parametre {
  color: #535973;
  text-transform: uppercase;
  font-family: "MB Empire", sans-serif;
  font-size: 14px;
}

.formulaire .eclairage-form .parametre-form .nom-de-parametre input {
  width: 160px;
  height: 30px;
  border: none;
  display: block;
  margin: 10px 10px 0 0px;
  border-radius:4px;
}

.parametre-form {
  position: relative;
  top: 25px;
  right: -45px;
}

.parametre-form.trafic {
  margin-top: 34px;
}

.formulaire .nom-de-parametre .lampe-etat {
  display: flex;
  padding: 10px 0 0 0;
}

.lampe-etat label {
  margin: 10px 0 10px 0;
}

.choisir-etat {
  background: white;
  border-radius: 4px;
  width: 370px;
  height: 40px;
}

.option {
  display: flex;
  justify-content: center;
}

.option .choisir label {
  font-size: 12px;
  border-radius: 3px;
  margin: 0 10px;
  padding: 15px;
  cursor: pointer;
}

.nom-de-parametre .choisir-etat .option .choisir input {
  display: none;
}

.nom-de-parametre .choisir-etat .option .choisir .etat.eclairage {
  margin: 0 0;
}

.option .choisir input:checked + label {
  margin: 4px;
  background: #D1E7E3;
  padding: 10px;
}

.nom-de-parametre .choisir-etat .option .choisir.eclairage input:checked + label {
  margin: 4px;
  background: #F1CFCD;
}

.option .choisir.pollution input:checked + label {
  margin: 4px;
  background: #D5D7E3;
  padding: 10px;
}

.formulaire .nom-de-parametre .choisir-etat .lampe-statut {
  margin: 50px 0;
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  top: 13px;
  right: -27px;
}

.formulaire .nom-de-parametre .choisir-etat .lampe-statut.trafic {
  color: #535973;
  position: relative;
  top: 13px;
  right: -90px;
}

.formulaire .nom-de-parametre .choisir-etat .lampe-statut.pollution {
  color: #535973;
  position: relative;
  top: 13px;
  right: -90px;
}

.formulaire .nom-de-parametre.lampe-etat .choisir-etat .lampe-statut.choisit {
  margin: 50px 0;
  padding: 10px 10px;
  background: #F1CFCD;
  border-radius: 4px;
  font-size: 12px;
}

.formulaire .nom-de-parametre.lampe-etat .choisir-etat .lampe-statut.trafic.choisit {
  background: #D1E7E3;
}

.formulaire .nom-de-parametre.lampe-etat .choisir-etat .lampe-statut.pollution.choisit {
  background: #D5D7E3;
}

.formulaire .inserer {
  background: white;
  margin-top: 89px;
  height: 60px;
  -moz-border-radius-bottomright:10px;
  -webkit-border-bottom-right-radius:10px;
}

.formulaire .eclairage-form .inserer.trafic {
  margin-top: 129px;
}

.formulaire .inserer input{
  width: 126px;
  height: 45px;
  border-radius:20px;
  background: #535973;
  border-style: solid;
  border: none;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "MB Empire BlackItalic", sans-serif;
  outline: none;
  cursor: pointer;
  margin: 7px 20px;
  position: relative;
  left: 300px;
}

.formulaire .eclairage-form .parametre-form .nom-de-parametre .double-input > input {
  display: inline-block;
  margin: 10px 45px 10px 0px;
}

.formulaire .data-of-street {
  display: flex;
}

.formulaire .nom-de-parametre {
  margin: 10px 20px;
}

/*user profil*/
.dashboard-admin {
	width: 1049px;
	height: 714px;
	background:	 #221F2E;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-40%);
	font-family: 'MB Empire';
	font-size: 12px;
	display: flex;
	margin: 100px 0;
	border-radius: 20px;
}

.dashboard-admin .user-present {
	background-image: url('../images/user-infor.jpg');
	color: white;
	width: 178px;
	-moz-border-radius-topleft:20px;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
  -webkit-border-bottom-left-radius:20px;

}

.dashboard-admin .user-present img {
	width: 90px;
	height: 90px;
	margin: 225px 44px 20px 44px;
}

.dashboard-admin .user-info {
	width: 871px;
	background: #221F2E; 
	color: white;
	-moz-border-radius-topright:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-bottomright:20px;
  -webkit-border-bottom-right-radius:20px;
}

/*search*/
.box{
	height: 60px;
	background: #2F2B3F;
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
	margin: 15px;
  width: 300px;
  height: 35px;
  background: #221F2E;
  border: none;
  font-size: 10pt;
  float: left;
  color: #ADA9BB;
  padding-left: 45px;
  border-radius: 20px;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #ADA9BB;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #ADA9BB;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #ADA9BB;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #ADA9BB;  
}

.container-1 .icon{
  position: absolute;
	top: 4px;
	left: 12px;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #ADA9BB;
}

/*overview*/
.overview-title {
	margin: 35px 50px 25px 50px;
}

.overview-title h1 {
	font-family: 'MB Empire Bold';
	font-size: 18px;
	margin: 0;
	width: 1px;
}


.analytic-parent {
	width: 790px;
	height: 523px;
	margin: 20px 40px;
}

.analytic {
	padding: 20px;
	margin: 10px;
}

.analytic.b1 {
	display: flex;
	padding: 0;
	margin: 0;
}

.analytic.b1-1 {
	background: #2F2B3F;
	width: 255px;
	height: 160px;
}

.analytic.b1-1.location {
	display: flex;
	width: 554px;
}

.analytic.b1-1.location img {
	width: 200px;
	height: 165px;
	position: absolute;
	top: 162px;
	right: 210px;
}

.analytic.b3{
	padding: 0;
}

.analytic.b1-1.b3 {
	background: #2F2B3F;
	width: 246px;
	height: 100px;
	padding: 20px;
	margin: 0 10px 10px 0;
}

.analytic.b1-1.b3.b3-1 {
	margin: 0 0 10px 10px;
}

.analytic.b2 {
	background: #2f2b3f;
	height: 323px;
	width: 237px;
}

.analytic.b2 img {
	margin: 20px;
  width: 150px;
}

.analytic.b4 {
	background: #2F2B3F;
	margin: 10px 0 0 0;
	height: 203px;
	padding: 10px;
}

.listone {
	display: flex;
	margin: 0px 0px 0 -39px;
	padding: 0;
}

.description {
	height: 10px;
	margin: -43px 14px 10px 24px;
}

.description p {
	height: 10px;
	margin: 10px;
}

.digital p{
	margin-bottom: 5px;
}